html {
  scroll-behavior: smooth;
}

.overflow {
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.5);
}

.card {
  box-shadow: 5px 10px 10px 5px rgb(0, 0, 0, 0.7);
}